name: Azure Infra  

on:
  pull_request:
    paths:
      - "Infra/terraform/**"
  push:
    branches:
      - main
    paths:
      - "Infra/terraform/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read    

jobs:
  terraform:
    name: Terraform Plan / Apply
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      ARM_USE_OIDC: true
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_ENVIRONMENT: poc

    defaults:
      run:
        working-directory: Infra/terraform/environments/${{ env.TF_ENVIRONMENT }}

    steps:
      # -----------------------------
      # Checkout
      # -----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------------
      # Azure Login (OIDC)
      # -----------------------------
      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # -----------------------------
      # Terraform Setup
      # -----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # -----------------------------
      # Terraform Init
      # -----------------------------
      - name: Terraform Init
        run: terraform init -input=false -backend-config="key=quote-app/${{ env.TF_ENVIRONMENT }}.tfstate"

      # -----------------------------
      # Terraform Validate
      # -----------------------------
      - name: Terraform Validate
        run: terraform validate

      # -----------------------------
      # Terraform Format Check
      # -----------------------------
      #- name: Terraform Format Check
      #  run: terraform fmt -check -recursive

      # -----------------------------
      # Terraform Plan (PR only)
      # -----------------------------
      - name: Terraform Plan
       # if: github.event_name == 'pull_request'
        run: terraform plan -input=false -var-file="terraform.tfvars"

      # -----------------------------
      # Terraform Apply (main only)
      # -----------------------------
      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -input=false -var-file="terraform.tfvars"
